{
    "presets": ["@babel/preset-react"],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "decoratorsBeforeExport": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        ["@babel/plugin-proposal-optional-chaining"],
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@core": "./modules/core"
                }
            }
        ]
    ],
    "env": {
        "production": {
            "plugins": ["transform-react-remove-prop-types"]
        }
    }
}
